# Model files
models/saved/
*.pkl
*.h5
*.joblib

# Plots
plots/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter notebooks
.ipynb_checkpoints/

# Logs
*.log

# Debug
debug.py